.badge-card .badge-contents .badge-info {
  padding-right: 0;
}

.usercard-controls li.follow-toggle {
  width: auto;
}

div.team-user-card > div {  
  .metadata {
    span, h3 {
      font-size: 15px;
    }
  }
}

.location-and-website {
  flex-wrap: initial !important;
  align-items: flex-start !important;
  
  span.website-name {
    margin-right: 10px;
    overflow: initial !important;
  }
  
  span.website-name + span {
    overflow: hidden !important;
    white-space: nowrap;
  }
}
