.badge-card .badge-contents .badge-info {
  padding-right: 0;
}

.usercard-controls li.follow-toggle {
  width: auto;
}

div.team-user-card > div {
  .names {
    h1, h2 {
      display: inline-block;
      vertical-align: middle;
    }
  }
  
  .metadata span {
    font-size: 16px;
  }
}

