.badge-card .badge-contents .badge-info {
  padding-right: 0;
}

.usercard-controls li.follow-toggle {
  width: auto;
}

div.team-user-card > div {  
  .metadata {
    span, h3 {
      font-size: 15px;
    }
  }
  
  div.card-row.fourth-row {
    margin-top: 0
  }
}

.location-and-website {
  .website-name {
    margin-right: 10px;
  }
  
  > span {
    margin-bottom: 10px;
  }
}

.follow-toggle + .follow-toggle {
  display: none;
}

